<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="container">

      <h1>URL Shortener</h1>
      <% if (locals.id) { %>
        URL Generate: <a href='http://localhost:8001/url/<%= id %>' > http://localhost:8001/url/<%= id %></a> 
        <% } %>
        <form method="POST" action="/url">
          <label for="Original_URL">Enter Your Original URL</label>
          <input
          type="text"
          name="url"
          id="Original_URL"
          placeholder="http://example.com"
          />
          <button type="submit">Generate</button>
          
        </form>
      </div>
      
      <div class="historyClicks">
        <% if (locals.urls) { %>
          <table>
            <thead>
              <th>S.No.</th>
              <th>ShortId</th>
              <th>Redirect</th>
              <th>Clicks</th>
            </thead>
            <tbody>
              <% urls.forEach((url, index) => { %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= url.shortId %></td>
                  <td><%= url.redirectId %></td>
                  <td><%= url.visitHistory.length %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        <% } %>
      </div>
  </body>
</html>
